* {
  padding:0;
  margin:0;
}

header {
  background-color:white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display:flex;
  width:100%;
  z-index:1;
  position:fixed;
  border-bottom:1px solid black;
  align-items:center;
  justify-content:space-between;
}

header div ul li {
  list-style:none;
  text-decoration:underline;
  display:inline-block;
}

main {
  position:relative;
  top:80px;
  display:flex;
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.mytimes {
  color:MediumAquamarine;
}

.head-item {
  padding:10px 20px;
}

.logo {
  display:inline-flex;
  align-items:center;
}

.col-large {
  border: 3px solid black;
  width:630px;
  display:flex;
  flex-wrap:wrap;
}

.col-med {
  border: 3px solid black;
  width:300px;
  display:flex;
  flex-wrap:wrap;
}

.col-small {
  border: 3px solid black;
  width:240px;
  display:flex;
  flex-wrap:wrap;
}

.newslist li {
  list-style:none;
  border-bottom: 1px solid black;
  background-color:WhiteSmoke;
}

.img-head {
font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
}

.big-img-head {
  font-family: Georgia;
 font-weight: bold;
 font-size: 40px;
 color: white;
}

/* starting story boxes */

.item {
  display:block;
}

/* Left Column */

.L1 {
  display:flex;
  flex-wrap:wrap;
}

.L1pic {
background-image:url("../Pictures/img-story-main.png");
background-repeat:no-repeat;
width:629px;
height:300px;
}


.L2 {
  display:flex;
  flex-wrap:wrap;
}

.L3 {
  display:flex;
  flex-wrap:wrap;
}

.L3pic {
background-repeat:no-repeat;
background-image:url("../Pictures/img-story-2.png");
width:299px;
height:300px;
}

.L2-5 {
  display:flex;
  flex-wrap:wrap;
}

.L3-5 {
  display:flex;
  flex-wrap:wrap;
}

.L3-5pic {
  background-repeat:no-repeat;
  background-image:url("../Pictures/img-story-3.png");
  width:299px;
  height:300px;
}
